* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #500000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}